<!--{% load static from staticfiles %}-->

<link rel="stylesheet" type="text/css" href="{% static 'twitterclone/style.css' %}" />
<body>
<hr size=90>
<h1 style="text-align:center;font-size:40;color:auto;"><strong> Welcome <a style = "color:red;" href="{% url 'my_profile' %}"> @{{ username }}! </a></strong> </h1>
<p style="font-size:10px;text-align:right" height = 12px><a href ="{% url 'logout' %}">Logout</a><p>
<hr color="blue" height="1px">
<p  style="text-align:right;font-size:20" ><a style = "color:blue" href="{% url 'get_tweet' %}">Compose new Tweet</a></p>

<h2><strong>Latest Tweets From Users You are Following <a style = "color:red;" href = "{% url 'all_users' %}"> (Follow more users) </a></strong></h2>
{% if latest_tweet_list %}
	{% for tweet in latest_tweet_list %}
		<div style="border:1px solid red;">
		<strong><p style="margin-left:10px;float:left;font-size:16;color:blue">@{{ tweet.tweeter }}</p>
		<p style="margin-right:30px;float:right;font-size:16;color:blue"><a style = "color:red;" href = "{% url 'favorite' tweet.pk %}">Favorite Tweet</a>({{ tweet.favorites }} favorites)</strong></p><br>
		<p><a style = "margin-right:-100px;float:right;color:red;font-size:12" href = "{% url 'get_favorites' tweet.pk %}"> Who favorited this? </a></p>
		<h1 style="margin-left:40px;font-size:20">{{ tweet.content }}</h1>
		<p style = "float:left; font-size:12;"> {{ tweet.pub_date }}</p>
		<br><br>
		</div>
		<br>


	{% endfor %}
	</ul>
{% else %}
	<p>No tweets are available.</p>
{% endif %}
</body>