{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'twitterclone/style.css' %}" />

<hr size=90>
{% if form.errors %}
	<p class = 'error'> Sorry, error </p>
{% endif %}
<h1> Login Screen </h1>
	<form action="/auth/" method='post'>{% csrf_token %}
		<label for='username'>User name</label>
		<input type='text' name='username' value='' id='username'>
		<label for='password'>Password</label>
		<input type='password' name='password' value='' id='password'>
		<input type='submit' value='login' />
	</form>

<p>If you need to create a new account, do so <a href="{% url 'register_user' %}">here.</a><br> IMPORTANT: IF YOU CREATE A NEW ACCOUNT, YOU MUST THEN IMMEDIATELY LOG IN TO IT. FAILING TO DO SO WILL CAUSE A BUG IN THE DATABASE WHICH I AM WORKING TO FIX.</p>. 